@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>

<address>
</address>
<address>
        <strong>Support:</strong>   <a href="mailto:v-dayow@microsoft.com">v-dayow@microsoft.com</a><br />
</address>
